include Kamaelia/Support/*
include Kamaelia/Support/*/*
include Docs/*
include Docs/*/*
include COPYING
include AUTHORS
include CHANGELOG
include Kamaelia/afortune.pl
include Kamaelia/debug.conf
include Kamaelia/SampleMIMERequest.txt
