body {
    font-size: 10pt;
    font-family:Undotum,verdana,helvetica,arial,sans-serif;
    background-color: #eaeaea; 
    line-height: 1.8;
    margin-top: 0;
}

.column {
    width: 31%;
    float: left;
    padding: 0.5em;
    min-width: 10em;
}

.boxright{
    width: 31%;
    float: right;
    padding: 0.5em;
    padding-top: 0;
    border-radius: 5px;
    box-shadow: 3px 3px;
    background-color: white;
    padding-bottom: 0;
    min-width: 10em;
    border: 1px solid;
    margin: 0.5em;
}

.column > h2:first-of-type {
    text-align: center;
    margin-bottom: 0;
}
.column > h3:first-of-type {
    text-align: center;
    margin-top: 0;
}

#pagebanner {
    font-size: 130%;
    width: 80%;
    margin: auto;
}

#pagebanner > p { // Avoid wrapping underneath the logo.
    overflow: hidden;
}

#pagebanner > h1 {
    font-size: 2em;
    font-weight: bold;
}
#logo {
    float: left;
}

#pagenote {
    text-align: center;
    font-style: italic;
    font-weight: bold;
    margin-top: -1em;
    padding-top: 0;
}

.pagesection {
   width: 98%;
   clear: both;
   margin: auto;
}

.pagecontainer {
   width: 95%;
   max-width: 994px;
   margin: auto;
   background-color: #FFF0A0;
   padding: 0.5em;
   border-left: solid white 1em;
   border-right: solid white 1em;
   margin-top: 0;
   background-image: url(/site-resources/background2.png);
   background-repeat: no-repeat;
   background-size: 100%;
}

.banner {
   width: 95%;
   max-width: 994px;
   margin: auto;
   background-color: #304080;
   padding: 0.5em;
   border-left: solid white 1em;
   border-right: solid white 1em;
   margin-top: 0;
   margin-bottom: 0;
}

.banner > p {
   color: #ffffff;
   font-size: 130%;
   font-weight: bold;
   text-align: right;
   margin-top: 0;
   margin-bottom: 0;
   padding-top: 0;
   padding-bottom: 0;
}

#mini {
   font-size: 12px;
   font-weight: normal;
   text-align: left;
   overflow: hidden;
}

.banner > a > img {
   float: left;
   height: 4em;
   margin-right: 1em;
}

.banner > p > a {
   color: #ffffff;
}
.banner > p > a:visited {
   color: #ffffff;
}


#a-quick-overview {
   width: 90%;
   margin: auto;
}

pre {
     afont-size: 80%;
     overflow: auto;
     padding: 0.25em;
     background-color: #F0FFC0;
     margin-left: 0.25em;
     margin-right: 0.5em;
}

a {
    text-decoration: None;
    color: #080;
}

:visited {
    text-decoration: None;
    color: #061;
}

