include Kamaelia/Data/test/*
include Kamaelia/UI/MH/tests/*
include Kamaelia/test/*
include Kamaelia/Sketch/*
include Kamaelia/Support/*
include Kamaelia/Support/*/*
include Docs/*
include Docs/*/*
include COPYING
include AUTHORS
include CHANGELOG
include Kamaelia/test/*
include Kamaelia/*/test/*
include Kamaelia/afortune.pl
include Kamaelia/debug.conf
include Examples/*/*/*
include Examples/*/*
include Examples/*
include Tools/*/*
include Tools/*
