Source: python-kamaelia
Section: python
Priority: optional
Maintainer: Gintautas Miliauskas <gintas@pov.lt>
Build-Depends: debhelper (>= 4.0.0), python2.3-dev, python2.4-dev
Standards-Version: 3.6.1.0

Package: python2.3-kamaelia
Architecture: all
Depends: python2.3, python2.3-axon
Description: tool set for dealing with large scale concurrency
 Kamaelia provides a tool set for dealing with large scale concurrency
 in a manner very similar to Unix pipelines, and is based on the
 hardware approach to software construction. This leads naturally to
 ease of system composition. The tool set includes a wide variety of
 pre-built components for creating network servers and clients along
 with components for handling media, interactive systems and text
 processing.
 .
 This version is usable with python2.3.

Package: python2.4-kamaelia
Architecture: all
Depends: python2.4, python2.4-axon
Description: tool set for dealing with large scale concurrency
 Kamaelia provides a tool set for dealing with large scale concurrency
 in a manner very similar to Unix pipelines, and is based on the
 hardware approach to software construction. This leads naturally to
 ease of system composition. The tool set includes a wide variety of
 pre-built components for creating network servers and clients along
 with components for handling media, interactive systems and text
 processing.
 .
 This version is usable with python2.4.
