include Axon/test/*
include COPYING
include AUTHORS
include CHANGELOG
include Docs/*/*
include Docs/Axon
include Docs/Axon.html
include Docs/cat.gif
include Examples/*
include Examples/*/*
exclude *CVS*
